*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* || Variable */
:root {
    /* FONT */
    --FF: monospace, cursive, 'Times New Roman', Times, serif;
    --FS-S:0.9rem;
    --FS-M:1.5rem;
    --FS-L:2rem;

    /* COLORS */
    --BGCOLOR-D: #333;
    --BGCOLOR-B: white;
    --TEXTCOLOR-D: #000;
    --TEXTCOLOR-B: whitesmoke;

    /* GENERAL STYLE */
    --PADDING: 0.5rem;
    --SHADOWS: 0 6px 5px -5px var(--TEXTCOLOR-D);
    --BORDERS: 2px solid var(--TEXTCOLOR-D);

}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(var(--BGCOLOR-B), var(--BGCOLOR-D));
    background-image: url(mobBg.jpeg);
    background-position: center;
    background-size: cover;

}

h2 {
    font-size: var(--FS-L);
    padding: var(--PADDING);
    text-align: center;
}

.container {
    position: relative;
    min-width: 400px;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--TEXTCOLOR-B);
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    backdrop-filter: blur(5px);
}

.inbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: var(--BORDERS);
    
}

.inbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: var(--FS-S);
    pointer-events:v none;
    transition: 0.5s;
}

.inbox input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--TEXTCOLOR-B);
}

input:focus ~ label, 
input:valid ~ label {
    top: -5px;
}

.inbox .icon {
    position: absolute;
    left: 275px;
    font-size: var(--FS-M);
    top: -10px;
}

.inbox .email {
    left: 282px;
    
}

.forgot, .register {
    margin: -15px 0 15x;
    font-size: var(--FS-S);
    display: flex;
    justify-content: center;
}

.forgot label input {
    margin-right: 5px;
}

.forgot a, .register a {
    color: var(--TEXTCOLOR-B);
    padding: .1rem;
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
}

.forgot a:hover, .register a:hover {
    color: var(--TEXTCOLOR-D);
    background-color: var(--BGCOLOR-B);
    border: var(--BORDERS);
}

button {
    width: 90%;
    height: 40px;
    margin: 10px;
    border-radius: 40px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    border: 2px solid var(--BGCOLOR-B);
    color: var(--BGCOLOR-B);
    font-size: var(--FS-M);
    font-weight: 900;
}

button:hover {
    border: var(--BORDERS);
    background-color: var(--BGCOLOR-B);
    color: var(--TEXTCOLOR-D);
}

/* Laptop Screen */
@media screen and (min-width: 1024px) { 
    section {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient(var(--BGCOLOR-B), var(--BGCOLOR-D));
        background-image: url(windowsBg.jpg);
        background-position: center;
        background-size: cover;

    }

}

